<div class="container my-5">
  <div class="row g-4">
    <!-- Stats Cards -->
    <div class="col-lg-3 col-sm-6" *ngFor="let stat of stats">
      <div class="stats-card text-center py-4 text-white" [ngStyle]="{'background-color': stat.color}">
        <p>{{ stat.label }}</p>
        <p class="number">{{ stat.value }}</p>
      </div>
    </div>
  </div>

  <!-- Analytics Section -->
  <div class="row my-5">
    <div class="col-lg-8">
      <div class="card p-4">
        <h6 class="section-title">Site Analytics</h6>
        <canvas id="lineChart"></canvas>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="map"></div>
    </div>
  </div>

  <!-- Additional Stats -->
  <div class="row my-4">
    <div class="col-lg-4" *ngFor="let stat of additionalStats">
      <div class="additional-stats text-center py-4">
        <p class="label">{{ stat.label }}</p>
        <p class="value">{{ stat.value }}</p>
      </div>
    </div>
  </div>
</div>
