<div class="container my-5">
  <div class="text-center mb-4">
    <h2>ادارة نظام الباقات</h2>
    <p>تحكم بنفسك فى باقاتك</p>
  </div>
  <button type="button" class="btn btn-secondary w-100" data-bs-toggle="modal" data-bs-target="#AddPackageModal">
    اضافة باقة
  </button>
  <hr>
  <div class="row ">
    <!-- الباقة المجانية -->
    <ng-container *ngFor="let it of packagesList">
      <div class="col-md-4">
        <div class="card text-center shadow">
          <div class="card-header bg-light">
            <h4 class="card-title">{{it.ar_title}}</h4>
            <ng-container *ngIf="it.type != 'free'; else tempTypePackage">
              <p class="text-muted">{{it.price}} جنيه/{{getTypePackage(it.type)}}</p>
            </ng-container>
            <ng-template #tempTypePackage>
              <p class="text-muted">مجانا</p>
             </ng-template>
          </div>
          <div class="card-body">
            <ul class="list-unstyled">
              
              <li>{{it.ar_description}}</li>
              <li>
                 <h3>المميزات</h3>
                <ng-container *ngFor="let item of it.package_items">
                  <li>{{item.ar_title}}</li>
                </ng-container>
              </li>
              <hr>

              <li> الانشاء : {{it.created_at | date:'fullDate' }}</li>
              <li> اخر تحديث : {{it.updated_at | date:'fullDate' }}</li>

            </ul>
            <button class="btn btn-outline-primary m-2" [routerLink]="['/EditOnPackage',it.id]">تعديل</button>
            <button class="btn btn-outline-danger m-2" (click)="packageId=it.id" data-bs-toggle="modal"
            data-bs-target="#DeletePackageModal" >حذف</button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- حذف الباقه -->
<div class="modal fade" id="DeletePackageModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex flex-row-reverse">
        <h5 class="modal-title ms-auto" id="modernModalLabel">حذف</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="إغلاق"></button>
      </div>
      <div class="modal-body">
        حذف الباقة :
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">الغاء</button>
        <button type="button" (click)="deletePackageObserve()" class="btn btn-danger"
          data-bs-dismiss="modal">حذف</button>
      </div>
    </div>
  </div>
</div>
<!-- اضف بافة -->
 <!-- Modern Modal -->
<div class="modal fade" id="AddPackageModal" tabindex="-1" aria-labelledby="modernModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
  
      <!-- رأس المودال -->
      <div class="modal-header">
        <h5 class="modal-title" id="modernModalLabel">إضافة باقة</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="إغلاق"></button>
      </div>

      <!-- جسم المودال -->
      <div class="modal-body">
        <form [formGroup]="packageForm" (ngSubmit)="onSubmitPackages()">

          <!-- عنوان -->
          <div class="mb-3">
            <label for="packageTitle" class="form-label">عنوان</label>
            <input type="text" formControlName="title" id="packageTitle" class="form-control" placeholder="أدخل العنوان" />
          </div>

          <!-- الوصف -->
          <div class="mb-3">
            <label for="packageDescription" class="form-label">الوصف</label>
            <textarea formControlName="description" id="packageDescription" class="form-control" rows="2"
              placeholder="أدخل الوصف"></textarea>
          </div>

          <!-- اختيار ملف -->
          <div class="mb-3">
            <label for="packageLogo" class="form-label">شعار الباقة</label>
            <input type="file" formControlName="logo" id="packageLogo" class="form-control" />
          </div>

          <!-- السعر ونوع الباقة -->
          <div class="row gx-3 gy-2 align-items-center mb-3">
            <div class="col-sm-8">
              <label for="propertyPrice" class="form-label">السعر (ريال)</label>
              <input type="number" formControlName="price" id="propertyPrice" class="form-control"
                placeholder="أدخل السعر" />
            </div>
            <div class="col-sm-4">
              <label for="packageType" class="form-label">نوع الباقة</label>
              <select formControlName="packageType" class="form-select" id="packageType">
                <option value="" disabled selected>حدد النوع...</option>
                <option value="free">مجانية</option>
                <option value="monthly">شهرية</option>
                <option value="annual">سنوية</option>
              </select>
            </div>
          </div>

          <!-- تصنيف الباقة -->
          <div class="mb-4">
            <label class="form-label">التصنيف</label>
            <div class="d-flex flex-wrap" formArrayName="packageFeatures">
              <ng-container *ngFor="let item of packageItemsList; let i = index">
                <div class="form-check me-3">
                  <input class="form-check-input" [formControlName]="i" type="checkbox" [id]="'option' + i" />
                  <label class="form-check-label" [for]="'option' + i">{{ item.ar_title }}</label>
                </div>
              </ng-container>
            </div>
          </div>

          <!-- زر الحفظ -->
          <div class="text-center">
            <button type="submit" class="btn btn-primary w-50" [disabled]="packageForm.invalid">
              <i class="bi bi-check-circle me-2"></i>حفظ
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
