<div class="custom-container mt-2 ">
    <h5 class="text-center mb-4">{{categoryId}} </h5>
  
  
    <div class="grid text-right" style="--bs-columns: 12; --bs-gap: 1rem;">
  
      <div class="g-col-5  custom-bg rounded shadow-sm">
        <div class="container mt-5">
            <div class="mb-3">
              <form [formGroup]="categoryForm" (ngSubmit)="onSubmitCategoryItem()">
        
                <div class="mb-3">
                  <div class="row gx-1 gy-2 align-items-center">
                    <label for="propertyPrice" class="form-label">اضف فئة عقار</label>
                    <div class="col-sm-10">
                      <!-- اضف ميزه -->
                      <input formControlName="title" type="text" id="propertyPrice" class="form-control"
                        placeholder="اضف فئة" />
                    </div>
                    <div class="col-sm-1">
                      <button type="submit" [disabled]="categoryForm.invalid" class="btn btn-primary w-8"><i
                          class="bi bi-plus-circle-fill"></i></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <hr>
            <div class="mb-3">
              <table class="table modern-table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>فئه</th>
                    <th>اختار</th>
                    <th>تعديل</th>
                    <th>حذف</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of categoryList  let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ row.ar_title }}</td>
                    <td>
                      <button type="button" class="btn btn-primary" (click)="chooseCatId=row.id">
                        <i class="bi bi-plus-circle-fill"></i>
                      </button>
                    </td>
                    <td>
                      <button type="button" class="btn btn-secondary" (click)="categoryId=row.id" data-bs-toggle="modal"
                        data-bs-target="#EditOnCategoryModal">
                        <i class="bi bi-pencil-fill"></i>
                      </button>
                    </td>
                    <td>
                      <button type="button" class="btn btn-danger" (click)="categoryId=row.id" data-bs-toggle="modal"
                        data-bs-target="#DeleteCategoryModal">
                        <i class="bi bi-trash-fill"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
        
              </table>
            </div>
        
        </div>
        
          
        <!-- تعديل على المميزات -->
        <div class="modal fade" id="EditOnCategoryModal" tabindex="-1" aria-labelledby="modernModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <!-- رأس المودال -->
                <div class="modal-header d-flex flex-row-reverse">
                  <h5 class="modal-title ms-auto" id="modernModalLabel"> تعديل فئه</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="إغلاق"></button>
                </div>
          
                <!-- جسم المودال -->
                <div class="modal-body">
                  <form [formGroup]="editOnCategory" (ngSubmit)="onSubmitEditOnCategory()">
                    <div class="mb-3">
                      <label for="nameInput" class="form-label">الاسم</label>
                      <input type="text" formControlName="title" class="form-control" id="nameInput" placeholder="أدخل الاسم" />
                    </div>
                    {{categoryId}}
                    <!-- تذييل المودال -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إلغاء</button>
                      <button type="submit" [disabled]="editOnCategory.invalid" class="btn btn-primary"
                        data-bs-dismiss="modal">تعديل</button>
                    </div>
                  </form>
                </div>
          
          
              </div>
            </div>
         </div>
          
          <!-- حذف ميزه -->
          <div class="modal fade" id="DeleteCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header d-flex flex-row-reverse">
                  <h5 class="modal-title ms-auto" id="modernModalLabel">حذف</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="إغلاق"></button>
                </div>
                <div class="modal-body">
                  حذف الحى :
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">الغاء</button>
                  <button type="button" (click)="deleteCategoryObserve()" class="btn btn-danger"
                    data-bs-dismiss="modal">حذف</button>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="g-col-3  custom-bg rounded shadow-sm">

        <div class="container mt-5" >
        <ng-container *ngIf="chooseCatId > 0; else NotFoundId">
          <div class="mb-3">
            <form [formGroup]="categoryForm" (ngSubmit)="onSubmitSubCategoryItem()">
      
              <div class="mb-3">
                <div class="row gx-1 gy-2 align-items-center">
                  <label for="propertyPrice" class="form-label">اضف فئة عقار</label>
                  <div class="col-sm-10">
                    <!-- اضف ميزه -->
                    <input formControlName="title" type="text" id="propertyPrice" class="form-control"
                      placeholder="اضف فئة" />
                  </div>
                  <div class="col-sm-1">
                    <button type="submit" [disabled]="categoryForm.invalid" class="btn btn-primary w-8"><i
                        class="bi bi-plus-circle-fill"></i></button>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <hr>
          <div class="mb-3">
            <table class="table modern-table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>الاسم</th>
                  <th>تعديل</th>
                  <th>حذف</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let row of categoryList">
                <ng-container *ngIf="chooseCatId==row.id">
                  <tr *ngFor="let row2 of row.children let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ row2.ar_title }}</td>
                    <td>
                      <button type="button" class="btn btn-secondary" (click)="categoryId=row2.id" data-bs-toggle="modal"
                        data-bs-target="#EditOnCategoryModal">
                        <i class="bi bi-pencil-fill"></i>
                      </button>
                    </td>
                    <td>
                      <button type="button" class="btn btn-danger" (click)="categoryId=row2.id" data-bs-toggle="modal"
                        data-bs-target="#DeleteCategoryModal">
                        <i class="bi bi-trash-fill"></i>
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
              </tbody>
            </table>
          </div>
      
        </ng-container>
        <ng-template #NotFoundId>اختار فئه</ng-template>
        </div>
        
      </div>
  
      <div class="g-col-4  custom-bg rounded shadow-sm">
        <app-control-on-features></app-control-on-features>
      </div>
  
    </div>
  
  </div>